section img{
	max-width: 100%;
}

.center{
	margin: 0 auto;
	width: 50%;
}

.walfie{
	overflow: hidden;
	list-style-type: none;
	margin: 0 auto;
}

.walfie li{
	float: left;
	width: 15%;
}

#ajax_test{
	color: Tomato;
	border: 2px solid Violet;
	width: 10%;
	text-align: center;
}

h3,h5 {
	font-family: sans-serif;
}

.part {
	padding: 10px 10px;
}